.bg_noir__principal{
	background-color: #333;
}

.co_noir__principal{
	color: #333;
}

.bg_noir_secondaire{
	background-color: #2c2b2b;
}

.co_noir__secondaire{
	background-color: #2c2b2b;
}

.bg_blue{
	background-color: #3696f5;
}

.color_blue{
	color: #3696f5;
}
.color_blue:hover{
	color: #fff;
}
.bg_red{
	background-color: #ad344b;
}

.color_red{
	color: #ad344b;
}

.color_white{
	color: #fff;
}

.color_text_black_2{
	color: #888;
}